h1 {
    color: #333;
    text-align: center;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
    height: 6em;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 40em;
    background-color: #fff;
    padding: 2em;
    border-width: 3px;
}

h3 {
    margin: 0;
}

p {
    margin: 5px 0;
}
