<h1>Redalyc - Test API {{ title }}</h1>

<h1>Resultado de la API</h1>

<div id="container">
  <div
    *ngFor="
      let product of products.slice(
        currentPage * pageSize,
        (currentPage + 1) * pageSize
      )
    "
  >
    <h3>{{ product.recordData.dc_title }}</h3>
    <p>ID: {{ product.recordIdentifier }}</p>
    <p>Posición: {{ product.recordPosition }}</p>
  </div>
  <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 0">
    Anterior
  </button>
  <button
    (click)="currentPage = currentPage + 1"
    [disabled]="currentPage === totalPages - 1"
  >
    Siguiente
  </button>
</div>

